doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Unica+One")
    title="Watch-stocks"

    if assets && assets.styles
      each asset in assets.styles
        link(rel="stylesheet" href=asset)

  body
    div(id="app") != app

    if preload
      script.
        window.__PRELOADED_DATA__ = !{JSON.stringify(preload)}

    if assets && assets.scripts
      each asset in assets.scripts
        script(type="text/javascript" src=asset)
